log
logs
project/project
project/target
target
lib_managed
tmp
.history
dist
.bsp
.sbtopts
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/.settings
*.iws
.cache
db
.DS_Store
**/*.DS_Store
eclipse
lib
modules
precompiled
/RUNNING_PID
server.pid
test-result
bin
**/sbt.json
project/.bloop/
.metals/
.bloop/
.vscode/
project/metals.sbt
*.zip
*.tar
*.gz
